/* estaticos/css/base.css */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    border-bottom:  1px solid #999;
}


header h1 a {
    color: red;
}

.nav-left {
    margin-left: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.entrada-publicacion {
    margin-bottom: 2rem;
}

.entrada-publicacion {
    margin: 0.5rem 0;
}

.entrada-publicacion h2 a,
.entrada-publicacion h2 a:visited {
    color: blue;
    text-decoration: none;
}

.entrada-publicacion p {
    margin: 0;
    font-weight: 400;
}

.entrada-publicacion h2 a:hover {
   color:red;
}